.sticky{
  padding-top: 5rem;  
}
.p1{
    text-transform: none;
    font-family: "DINNextLTPro-Bold";
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
   
  }
  .des{
    padding: .8rem 0 0;
      font-family: "DINNextLTPro-Regular";
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.33;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #616161;
  }
  .img1{
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
  
  .last{
    border-radius: 6px;
    margin-top: 3rem;
    margin-left: 4rem;
    width: 90%;
    height: 50%;
  }
  // @media screen  and (width:300px){
  //   .img1 {
  //     width: 70% !important;
  //     height: 100% !important;
  //     border-radius: 6px !important;
  //     margin-left: 3rem !important;
  //     background-color: ;
  //   }
    
  // }
  @media screen and (min-width: 320px) and (max-width: 500px) {
    .img1 {
      width: 15rem !important;
      margin-left: 4rem !important;
    }
    .p1{
      margin-left: 1rem;
    }
    .des{
      margin-left: 1rem;
      
      text-align:left;padding:10px;margin-top:7px;font-size:12px;
    }
    .last{
      width: 20rem !important;
      height: 7rem !important;
      margin-left: 1rem;
    }
  }