  
  <div class="content">
    
    <div class="cardcontent">
    <div class="page-name">
      <app-display-header titleName="Cart"></app-display-header>
    </div>
    
    <div class="card">
      
    <div class="product-item"*ngFor="let data of cartData">
      
    <div class="card-details">
    <div class="card-image">
    <img src="{{data.image}}" alt="image" class="card-image">
    
    </div>
    <div class="card-content">
    <div class="card-top">
    <div class="card-item">
      <a class="tag">
    <div class="card-name">
    <div>{{data.name}}  <img class="food_tag"   src="{{data.foodtag}}" alt="veg"></div>
    <div class="card-description">{{data.description}}</div>
    </div>
    
  </a>
    </div>
    </div>
    
    </div>
    </div>
    
    </div>   
                
    </div>
    </div>
    </div>
  
  
 


 


